body {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    box-sizing: content-box;
    background-color: rgb(49, 77, 162);
}

table {

    margin: auto;
    margin-top: 10px;
    width: max-content;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    /* border-radius: 1em; */
    /* border-spacing: 0 15px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
    border-top-left-radius: 10px
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
    border-top-right-radius: 10px
}

td {
    /* border: 0.5px green solid; */
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    vertical-align: middle;
    /* z-index: 10; */

}

td:hover {
    /* outline: orange solid 4px; */
    opacity: 0.8;
}

.green {
    background-color: #aad751;
}

.lightgreen {
    background-color: #a2d149;
}

.status-bar {
    position: relative;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.mine {
    opacity: 0.8;
}

/* Dropdown Button */
.timer,
.dropbtn {
    /* position: relative; */
    font-family: Arial, Helvetica, sans-serif;

    font-weight: bold;
    display: inline-table;
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: solid black 1px;
    border-radius: 8px;
    cursor: pointer;
    /* height: 100px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 50px;
}



.dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    /* border: none; */
    /* cursor: pointer; */
    width: 90px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: none;
    position: absolute;
    /* right: -10px; */
    background-color: #f9f9f9;
    /* width: 100%; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    /* background-color: #f1f1f1; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}