body {
    position: fixed;
    width: 504px;
    margin-left: 50%;
    margin-top: 5px;
    box-sizing: content-box;
    background-color: rgb(49, 77, 162);

    transform: translate(-50%);
    color: white;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

div.container {
    position: relative;
    width: fit-content;
    height: 647px;
    background-color: black;
}

h1,
h2 {
    text-align: center;
    background-color: #4a752c;
    width: 504px;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1 {
    margin: 10px 0;
    border: black 1px solid;
}

.hidden {
    visibility: hidden;
}

.table-background {
    position: absolute;
    width: 504px;
    min-height: 504px;
    background-color: #4a752c;
    top: 55px;
    z-index: -50;
    border-radius: 10px;
    opacity: 0.5;
    background-image: url("./img/aesthetic-minimal-white-grid-pattern-wallpaper-removebg-preview.png");
}

h2.gameover,
.development {
    position: absolute;
    margin: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

h2.smiley {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    padding: 10px;
    background-color: #a2d149;
    border: #4a752c solid 2px;
    user-select: none;
    z-index: 9999;
}

table {
    position: absolute;
    margin: 50%;
    top: 55px;
    width: max-content;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    z-index: -25px;
    font-family: 'Times New Roman', Times, serif;
}

table.scale-easy {
    transform: translate(-50%, -50%);
    transform: scale(3);
    border-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
    border-top-left-radius: 10px
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
    border-top-right-radius: 10px
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    vertical-align: middle;
    z-index: 10;
}

td:hover {
    opacity: 0.8;
}

.green {
    background-color: #aad751;
}

.lightgreen {
    background-color: #a2d149;
}

.status-bar {
    position: relative;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.mine {
    opacity: 0.8;
}

.content-shown:after {
    z-index: 50;
    box-shadow: 10px 10px lightblue;
}

.smiley:hover,
.dropbtn:hover {
    outline: orange solid 2px;
}

/* Dropdown Button */
.timer,
.dropbtn,
.lives-bar {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-table;
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: solid black 1px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}


.lives-bar {
    color: #4a752c;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    margin-left: 315px;
    margin-right: 0px;
    width: 150px;
    max-height: 44px;
    background-color: #a2d149;
    padding: 4px 24px 4px 12px;
    font-size: 26px;
    display: block;
    top: 0px;

}

.dropbtn {
    width: 90px;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
}

.dropdown-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    z-index: 0;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover,
.hints:hover,
.safe-click:hover,
.undo:hover,
.seven-boom:hover,
.manual-mines:hover,
.exterminator:hover,
.mega-hint:hover {
    outline: orange solid 2px;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.extra-features {
    position: relative;
    background-color: #4a752c;
    height: 100%;
    width: 100%;
}

.hints,
.safe-click,
.undo,
.seven-boom,
.manual-mines,
.exterminator,
.mega-hint {
    position: absolute;
    display: inline;
    margin: auto;
    margin-top: 525px;
    width: 33%;
    height: 40px;
    background-color: #4a752c;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px black;
    text-align: center;
    color: white;
}

button:disabled,
button[disabled] {
    border: 1px solid #000000;
    background-color: #535352;
    color: #000000;
}

.hints-mode,
.safe-click-mode .undo-mode,
.seven-boom-mode,
.manual-mines-mode,
.exterminator-mode,
.mega-hint-mode {
    background-color: orange;
    color: black;
}

.safe-click {
    margin-left: 170px;
}

.undo {
    margin-left: 340px;
    margin-top: 525px;
}

.manual-mines {
    margin-left: 0px;
    margin-top: 570px;
}

.exterminator {
    margin-left: 170px;
    margin-top: 570px;
}

.seven-boom {
    margin-left: 340px;
    margin-top: 570px;
}

.mega-hint {
    margin-left: 170px;
    margin-top: 615px;
}

.unavailable {
    opacity: 0.5;
    border: 1px solid #000000;
    background-color: #535352;
    color: #000000;
}

.alert {
    position: absolute;
    background-color: rgb(234, 234, 234);
    color: rgb(47, 47, 47);
    border: 1px black solid;
    font-size: 16px;
    text-align: center;
    width: max-content;
    padding: 10px 40px;
    margin: auto;
    margin-left: 50%;
    margin-top: 70%;
    border-radius: 10px;
    /* margin-top: 80px; */
    z-index: 9999;
    transform: translate(-50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


}